Repository Limit-Theory-Redux/ltheory, pull requests merged in 2023-11, with the labels that each got.

#170 feature: make main menu theme user configurable
  script/Config/App.lua
  script/States/App/LTheoryRedux.lua
  script/Systems/Files/InitFiles.lua
  script/Systems/Menus/MainMenu.lua
  script/Systems/SFX/MusicPlayer.lua
  script/Types/GameState.lua
Labels: audio

#177 Add CONTRIBUTING.md & Adjust README.md
  CONTRIBUTING.md
  README.md
  res/images/screenshot.png
  res/images/screenshot2.png
  res/images/screenshot3.png
Labels: documentation

#174 feature: add provisional background mode hints
  script/States/Application.lua
Labels: script

#172 feature: add ship creation "menu"
  script/Enums/GameStates.lua
  script/States/App/LTheoryRedux.lua
  script/Systems/Overlay/GameView.lua
Labels: script

#175 feature: add fov setting
  script/Config/App.lua
  script/Core/Structures/Settings.lua
  script/Systems/Camera/Camera.lua
  script/Types/GameState.lua
Labels: script

#182 Pass audio to GameView on creation
  script/States/App/LTheory.lua
  script/States/App/LTheoryRedux.lua
  script/States/App/Tests/PhysicsTest.lua
  script/States/App/Tests/PlanetTest.lua
  script/States/App/Tests/ShipTest.lua
  script/States/App/Tests/StationTest.lua
  script/Systems/Overlay/GameView.lua
Labels: bug, script

#181 Render build version & adjust WIP text
  script/States/Application.lua
Labels: script

#169 [HmGui] Layout system
  engine/lib/luajit-ffi-gen/src/impl_item/type_info.rs
  engine/lib/phx/script/ffi_gen/AlignHorizontal.lua
  engine/lib/phx/script/ffi_gen/AlignVertical.lua
  engine/lib/phx/script/ffi_gen/HmGui.lua
  engine/lib/phx/src/render/ui_renderer/layer.rs
  engine/lib/phx/src/render/ui_renderer/rect.rs
  engine/lib/phx/src/render/ui_renderer/renderer.rs
  engine/lib/phx/src/system/resource.rs
  engine/lib/phx/src/ui/hmgui/README.md
  engine/lib/phx/src/ui/hmgui/alignment.rs
  engine/lib/phx/src/ui/hmgui/container.rs
  engine/lib/phx/src/ui/hmgui/data.rs
  engine/lib/phx/src/ui/hmgui/group.rs
  engine/lib/phx/src/ui/hmgui/gui.rs
  engine/lib/phx/src/ui/hmgui/mod.rs
  engine/lib/phx/src/ui/hmgui/rect.rs
  engine/lib/phx/src/ui/hmgui/text.rs
  engine/lib/phx/src/ui/hmgui/widget.rs
  script/States/App/LTheoryRedux.lua
  script/States/App/Tests/TestHmGui-MarketScreen.lua
  script/States/App/Tests/TestHmGui.lua
  script/States/App/Todo.lua
  script/Systems/Menus/MainMenu.lua
Labels: engine

#180 New github action scripts
  .github/workflows/pr_build.yaml
  .github/workflows/release_build.yaml
  script/Config/App.lua
  script/Config/Version.lua
  script/Main.lua
Labels: integration

#193 Three Fixes
  script/GameObjects/Entities/Ship/Thruster.lua
  script/States/App/LTheoryRedux.lua
  script/States/Application.lua
  script/States/ApplicationBindings.lua
  script/Systems/Controls/Bindings/ShipBindings.lua
  script/Systems/SFX/MusicPlayer.lua
  script/Systems/Universe/Universe.lua
Labels: bug

#196 Minor GUI Fixes
  script/States/App/LTheoryRedux.lua
  script/Systems/Menus/MainMenu.lua
Labels: cleanup, gui

#199 fix: PHX_VERSION hardcoded to 0.0.1
  .github/workflows/pr_build.yaml
  .github/workflows/release_build.yaml
  build.sh
  engine/lib/phx/build.rs
  script/Main.lua
Labels: bug, integration

#200 Groundwork for factions
  script/Config/App.lua
  script/Core/Util/Iterator.lua
  script/Enums/EntityType.lua
  script/Enums/FactionEnums.lua
  script/GameObjects/Actions/Think.lua
  script/GameObjects/Components/Core/Faction.lua
  script/GameObjects/Components/Core/Guid.lua
  script/GameObjects/Components/Factions/Claims.lua
  script/GameObjects/Components/Factions/FactionType.lua
  script/GameObjects/Components/Factions/Relations.lua
  script/GameObjects/Components/Factions/Subordinates.lua
  script/GameObjects/Elements/Economy/Assets.lua
  script/GameObjects/Entities/Faction.lua
  script/GameObjects/Entities/Owner.lua
  script/GameObjects/Entities/Test/System.lua
  script/GameObjects/Entity.lua
  script/States/App/LTheory.lua
  script/States/App/LTheoryRedux.lua
  script/States/App/Tests/PhysicsTest.lua
  script/States/App/Tests/ShipTest.lua
  script/States/App/Tests/StationTest.lua
  script/States/App/Tests/TestEcon.lua
  script/States/Application.lua
  script/Systems/Controls/Bindings/CameraBindings.lua
  script/Systems/Controls/Controls/CommandControl.lua
  script/Systems/Overlay/HUD.lua
  script/Systems/Universe/Universe.lua
  script/Systems/Universe/UniverseEconomy.lua
  script/Types/GameState.lua
Labels: script
