Repository Limit-Theory-Redux/ltheory, pull requests merged in 2023-12, with the labels that each got.

#202 fix: set sound volume
  engine/lib/phx/script/ffi_ext/Sound.lua
  engine/lib/phx/script/ffi_gen/Sound.lua
  engine/lib/phx/src/audio/sound.rs
  script/Systems/SFX/MusicPlayer.lua
  script/Types/MusicObject.lua
  script/Types/SFXObject.lua
Labels: audio, engine, script

#203 fix: sound toggle in settings menu
  script/States/App/LTheoryRedux.lua
  script/Systems/Menus/MainMenu.lua
  script/Systems/SFX/MusicPlayer.lua
Labels: audio, script

#213 Add support for out parameters, boxed types, and returning an mutable optional ref. Fix some mismatches in the C FFI.
  engine/lib/internal/src/memory.rs
  engine/lib/luajit-ffi-gen/README.md
  engine/lib/luajit-ffi-gen/src/args/bind_args.rs
  engine/lib/luajit-ffi-gen/src/ffi_generator.rs
  engine/lib/luajit-ffi-gen/src/impl_item/generate.rs
  engine/lib/luajit-ffi-gen/src/impl_item/lua_ffi.rs
  engine/lib/luajit-ffi-gen/src/impl_item/parse.rs
  engine/lib/luajit-ffi-gen/src/impl_item/type_info.rs
  engine/lib/luajit-ffi-gen/tests/test_impl.rs
  engine/lib/phx/script/ffi_gen/Directory.lua
Labels: engine
